body {
  background-color: #e5e8ec;
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px auto;

  @media (max-width: 1280px) {
    margin-top: 50px;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1075px;
    margin: 0 auto;
  }
}
